<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>CALCULATOR</h1>
    <form action="/", method="POST">
        <textarea name="" id="">
            {{result}}
        </textarea>
        <br><br>
        <p>Number 1</p>
        <input type="number" name="n1" >
        <br><br>
        <p>Number 2</p>
        <input type="number" name="n2" >
        <br><br>
        operation:
        <br><br>

        <input type="submit" name="operation" value="+">
        <input type="submit" name="operation" value="-">
        <input type="submit" name="operation" value="*">
        <input type="submit" name="operation" value="/">
        <br>

    </form>
{{res}}
</body>
</html>